@model Vivelin.Home.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home";
}

@if (Model.Quote != null)
{
    <figure class="quote" data-quote-id="@Model.Quote.Id">
        <blockquote use-commonmark="true">
            @Html.Raw(Model.Quote.Text)
        </blockquote>
        <figcaption>
            @Html.Raw(Model.Quote.Citation)
        </figcaption>
    </figure>
}

<div id="twitch-follows" class="twitchStreams"
     data-user-id="@ViewBag.UserId"
     data-access-token="@ViewBag.AccessToken"
     data-client-id="@ViewBag.ClientId"></div>

@section Scripts {
    <environment names="Development">
        <script src="~/lib/react.js"></script>
        <script src="~/lib/react-dom.js"></script>
        <script src="~/js/components.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/react.min.js" asp-append-version="true"></script>
        <script src="~/lib/react-dom.min.js" asp-append-version="true"></script>
        <script src="~/js/components.min.js" asp-append-version="true"></script>
    </environment>
}